
<p><span class='right'><%= link_to "Create A Project", new_project_path, :class => "myButton" %></span></p>


<h1>Projects</h1>


<table>
  <tr>
    <th>Project Name</th>
    <th>Team Size</th>
    <th>Project Creator</th>
    <th>Duration</th>
    <th>Commitment (hrs/week)</th>
  </tr>
  <% for project in @projects %>
    <tr>
      <td><%= project.name %></td>
      <td><%= project.team_size %></td>
      <td><%= project.creator.name %></td>
      <td><%= project.start_date.strftime("%B %d, %Y") %> - <%= project.end_date.strftime("%B %d, %Y") %></td>
      <td><%= project.hours_per_week %></td>
      <td><%= link_to "Show", project %></td>
      <td><%= link_to "Edit", edit_project_path(project) %></td>
      <td><%= link_to "Destroy", project, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>


