<% unless @project.photo_url.nil? %>
	<%= image_tag @project.photo_url %>
<% end %>
<% title "#{@project.name}" %>


<div class="skill_checkboxes">
	<strong>Necessary Skills:</strong>
	<ol>
		<% for skill in @skills %>
			<li><%= link_to skill.name, skill_path(skill) %></li>
		<% end %>
	</ol>
</div>


<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>
<p>
  <strong>Team Size:</strong>
  <%= @project.team_size %>
</p>
<p>
  <strong>Project Creator:</strong>
  <%= @project.creator.name %>
</p>
<p>
  <strong>Duration:</strong>
  <%= @project.start_date.strftime("%B %d, %Y") %> - <%= @project.end_date.strftime("%B %d, %Y") %>
</p>
<p>
  <strong>Work Commitment:</strong>
  <%= @project.hours_per_week %> hrs/week
</p>
<p>
  <strong>Status:</strong>
  <% if @project.active %>
  	<span class='active'>active</span>
  <% else %>
  	<span class='closed'>closed</span>
  <% end %>
</p>
<p>
  <%= link_to "Edit", edit_project_path(@project) %> |
  <%= link_to "Destroy", @project, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", projects_path %>
</p>
